<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- <div class="jumbotron">
  <div class="container">
      <div class="row">
          <div >
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div> -->

<div class="container"> 
  <router-outlet></router-outlet>
</div>

<!-- <style="opacity:0.8;
background-color:#ccc;
position:fixed;
width:100%;
height:100%;
top:0px;
left:0px;
z-index:1000;" -->

<!-- <app-top-bar></app-top-bar> -->

<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->